@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
  .nico {color: #2840ac; font-family: "Poiret One", cursive; font-size: 78px; position: absolute;  }
  h1 {position: absolute; top: 90px; font-family: "Didact Gothic", sans-serif; font-size: 98px;color: #47d8f1;}
html
 {background-color: #000000;
 }
