@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
body {
    background: linear-gradient(to right, blue, cyan);
}
#title_cat {
    text-align: center;
    font-family: sans-serif;
    color: white;
    font-size: 75px;
    font-family: "Quicksand";
}
.p_box__one {
    color: white;
    width: 200px;
    font-size: 28px;
    text-align: end;
    font-family: "Quicksand";
    position: relative;
    top: 24px; 
    transition: top .4s;
}
#p_one {
    text-align: center;
    font-size: 38px;
    font-family: "Quicksand";
}
.p_box__secret {
    position: relative;
    bottom: 60px;
    font-size: 40px;
}
.p_box__secret:hover {
    position: relative;
    left: 200px;
    font-family: "Bad Script";
}